
<div class="split left">
    <!-- <img src="https://th.bing.com/th/id/OIP.kOngjV3RRe6H19Cots1UKQHaEK?w=294&h=180&c=7&r=0&o=5&pid=1.7" alt="background image"> -->
  </div>
  
  <div class="split right">
    <div class="login-container">
      <!-- Login form goes here -->
      <form id="login-form">
        <div class="username">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required></div>
        <div class="password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required></div>
      
        <!-- <div class="g-recaptcha" data-sitekey="your_site_key"></div> -->
      
        <button type="submit">Log in</button>

        <div class="forgot-password">
            <a (click)="submit()">Forgot Password?</a>
          </div>
          
        <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

      </form> 
      <p class="signup here">
        Don't have an account ? <a (click)="submit()" ><b>Signup here</b></a></p>
    </div>
  </div>





   
  




