<div class="split left">
    
  </div>
  
  <div class="split right">
    <div class="home-container">
    <h1><b>Interview Scheduler</b></h1>
    <form>
    <div>
      <div>
        <!-- <a routerLink="login">Login</a></div> -->
        <button (click)="submit()">Login</button></div>
    <P>or sign up as an:</P></div>
    <div class="Interviewer">
    <button (click)="submit1()"> Interviewer</button>
  <!-- </div> -->
    <!-- <div class="Interviewee"> -->
    <button (click)="submit2()"> Interviewee</button>
    </div>
  </form>
  </div>
    </div>
  
